{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>

<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/character-detail.css' %}"
/>
<script defer src="{% static 'js/character-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="character-container">
  <div class="character-img">
    {% if character.photo.url %}
      <img src="{{character.photo.url}}" alt="A photo of {{character.name}}" class='usr-img'
      >
    {% else %}
    <img 
      src="{% static 'images/character_placeholder.png' %}" 
      alt="Sillouette of a Character"
    >
    {% endif %}
  </div>
  <div class="character-details">
    <h1>{{ character.name }}</h1>
    <p>{{ character.char_class }}</p>
    <p>{{ character.level }}</p>
     <div class="character-actions">
      <a href="{% url 'characters_update' character.id %}" class="btn warn">Edit</a>
      <a href="{% url 'characters_delete' character.id %}" class="btn danger">Delete</a>
    </div>
    {% comment %} New markup below {% endcomment %}
    <h3>Change {{ character.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' character.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  {% comment %} New markup above {% endcomment %}
  </div>
</section>
<section class="spells">
    <div class="subsection-title">
      <h2>Spells</h2>
      <img src=f"{% static 'images/{{character.char_class}}.png' %}" />
    </div>
<h3>{{ character.name }}'s Spells</h3>
    <div class="subsection-content">
      {% if character.spells.count %}
        {% for spell in character.spells.all %}
          <div class="spell-container">
            <div 
              class="color-block"
             
            ></div>
            <a href="{% url 'spells_detail' spell.id %}">
              <p> {{ spell.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-spells">{{character.name}} doesn't have any spells 😞</p>
      {% endif %}
    </div>
    <h3>Learned Spells</h3>
    <div class="subsection-content">
      {% comment %} We'll display learned_spells here {% endcomment %}
      {% if spells.count %}
        {% for spell in spells.all  %}
           <div class="spell-container">
            <div 
              class="color-block"
              
            ></div>
            <a href="{% url 'spells_detail' spell.id %}">
              <p>A {{ spell.name }}</p>
            </a>
            <form action="{% url 'assoc_spell' character.id spell.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Learn Spell</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-spells">
          {{character.name}} already has learned all the available spells 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>
</div>
{% endblock %}