{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/character-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Character List</h1>
  <img src="" alt="" />
  <img src="" alt="" />
  <img src="" alt="" />
  <img src="" alt="" />
</section>

<section class="card-container">
  {% for character in characters %}
    <div class="card">
      {% comment %} Add this line {% endcomment %}
      {% comment %} <a href="{% url 'characters_detail' character.id %}"> {% endcomment %}
        <div class="card-content">
          <div class="card-img-container">
          {% if character.photo.url %}
            <img 
                src="{{character.photo.url}}" 
                alt="A photo of {{character.name}}"
                class="usr-img"
              >
          {% else %}
            <img 
              src="{% static 'images/character_placeholder.png' %}" 
              alt="Sillouette of a Character"
            >
          {% endif %}
          </div>
           <h2 class="card-title">{{ character.name }}</h2>
            <p>A {{ character.name }} is playing {{ character.char_class}} level {{ character.level}}.</p>
        </div>
      {% comment %} And this line {% endcomment %}
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}